<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %-5p %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.mvel3" level="DEBUG" />
    <logger name="org.eclipse" level="INFO" />
    <logger name="ch.qos.logback" level="WARN" />

    <root level="INFO">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>